<div >
  <h2>Admin Menu</h2>
  <div class="identity">Logged in as: <%= session[:username] %></div>
  <ul>
    <li><%= link_to("Manage Subjects", subjects_path) %></li>
    <li><%= link_to("Logout", :controller => 'access', :action => "logout") %></li>
  </ul>
</div>