<%= link_to 'Back', subjects_path, class: "back-link" %>

<div class="container">
<h1>Editing Subject</h1>
<%= content_tag :div,"Edit #{@subject.name} ",class:'panel-heading' %>

<%= render partial: 'form', locals:{url: subject_path(@subject) } %>

<%#= link_to 'Show', subject_path %> |
</div>