// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#page-about {
  .img {
    width: 50%;
    padding-left: 0;
    padding-right: 0;

  }
  .about {
    background: #fff;
    padding-top: 6px;
    padding-bottom: 6px;
    img{
      width: 100%;
    }
    h1 {
      color: #343434;
      text-transform: uppercase;
      span {
        display: block;
        color: #7a7a7a;
        padding-left: 5px;
        font-size: 14px;
        margin-top: 8px;
        text-transform: none;
      }
    }

    .aboutIntro{
      margin-top:44px;
      h1{
        text-transform:uppercase;
        font-size:16px;
        color:#343434;
        line-height:20px;
      }
    }

  }
  .contact {
    background: #343434;
    padding-top: 15px;
    padding-bottom: 25px;
    h3{
      color: #ccc;
      font-weight: normal;
    }
    a{
      font-size: 30px;
      color: #ccc;
      margin-right: 10px;
    }
  }
}
