
  
  

<div >
  <div class="img_container">
  <%= image_tag("me.jpg", class: "images")%>
  </div>
  <h2 class='sub_title'>Welcome to Xinquan's Website!</h2>
  <div class='txt_content'>
    I’m a graduate student majored in Music Technology at Georgia Tech. I have a solid programming skills and machine learning background, such as 3+ years experience in C++, extensive practical experience in deep learning and other machine learning models. Being a good team worker, I really enjoy working in a group and communicate with others. For the moment, I am looking for a full time position related to software engineering or audio processing (machine learning).
  </div>
  <br />
</div>

    
  