<% subjects ||= [] %>
  <ul class="menu">
  <% subjects.each do |subject| %>
    <li>
      <%= link_to(subject.name, subject_path(subject.id)) %>
      <% if not subject.posts.empty?%>
      <ul>

      <% subject.posts.sorted.each do |post| %>
      
        <li><%= link_to_unless_current(post.title, subject_post_path(subject.id,post.id)) %></li>
        
      <% end %>
      </ul>
      <% end %>
    </li>
    <% end %>
  </ul>
